
<div class="background-animation">
    <div class="container-fluid bgimage-color">
        <img class="mx-auto d-block img-fluid" src="assets/Banner/Eng_banner.jpg" alt="Responsive image">
    </div>
    <br>
    <div class="col-xs-6 text-right">
        <button (click)="createLesson()" *ngIf="isGranted('Pages.Administration.Lesson.Create')"
                class="btn btn-primary">
            <i class="fa fa-plus"></i> {{l("CreateNewLesson")}}
        </button>
    </div>
    <div class="container intro">
        <h1>Listen And Watch</h1>
        <div style="word-wrap:break-word;">
            {{globals.role}}
            Do you like listening to songs and watching stories and videos in English? In this section you can learn to sing songs in English and watch fun stories and videos.
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-3 border border-light rounded overflow-auto d-flex flex-column" *ngFor="let item of lessons">
                <img class="d-block mx-auto img-fluid rounded" src="{{item.introImage}}">
                <!-- <h1>{{item.catName}}</h1> -->
                <br>
                <div style="word-wrap:break-word;">{{item.lessonContent}}</div>
                <button class="mt-auto btn btn-info" (click)="viewListenWatch.show(item.id)">
                    <h3>
                        <!--<a href="#"> MORE --→</a>-->
                        MORE -->
                    </h3>
                </button>
                <tr *ngIf="isGranted('Pages.Administration.Lesson.Edit')">
                    <td>
                        <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                              *ngIf="isGranted('Pages.Administration.Lesson.Edit')"  (click)="createOrEditModal.show(item.id)" title="{{l('Edit')}}">
                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                        </button>

                        <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                             *ngIf="isGranted('Pages.Administration.Lesson.Delete')"   (click)="deleteLesson(item.id)" title="{{l('Delete')}}">
                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                        </button>
                    </td>
                </tr>
            </div>
        </div>
    </div>
    <createOrEditLWLessonModal #createOrEditModal (modalSave)="reloadPage()"></createOrEditLWLessonModal>
    <br>
    <br>
    <div class="container-fluid" id="footer">
        <div class="container">
            <br>
            <h2 class="text-light">Developer Team:</h2>
            <h5 class="text-light"> Tran Hoang An</h5>
            <h5 class="text-light"> Cao Minh huy</h5>
            <h5 class="text-light"> Nguyen Le Hoai An</h5>
        </div>
    </div>
</div>
<viewListenWatch #viewListenWatch></viewListenWatch>
